@model List<WebFinal.Models.DataForm>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Administrar estudiantes</h2>
<h3>Lista de estudiantes</h3>
<div class="container">
    <div class="row justify-content-end">
        <div class="col-md-12 col-md-offset-11">
            @Html.ActionLink("Agregar", "Save")
        </div>
    </div>
    <div class="row">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Apellidos</th>
                    <th scope="col">Edad</th>
                    <th scope="col">Curso</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Name</td>
                      
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
